/* começo do main */

main{
    width: 100vw;
    min-height: 100vh;
    background-image: url(../image/foto-praia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 2vh;
}


.sobremim{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20vh 10vw 10vh 70vw;
    
}


.h2Sobremim{
    font-family: "Caveat", cursive;
    font-size: 7vh;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}

.textoSobremim{
    background-color: rgba(0, 0, 0, 0.401);
    border-radius: 5px;
    font-family: "Jaini Purva", system-ui;
    color: #fff;
    font-size: 2.5vh;
    padding: 2vh;
}